/.next
/.husky/
.turbo/
.vercel/
.output/
.firebase/
.netlify/
.expo/
.storybook/
.cache/
out/
tmp/
temp/
logs/
logs/**
*.log
*.tsbuildinfo
/.idea/
/.vscode/
/.swc/
/.parcel-cache/
/.eslintcache
/.stylelintcache
/.coverage/
/.nyc_output/
/.coverage/**
/.nyc_output/**
CHANGELOG.md
node_modules/
dist/
build/
coverage/
.yarn/
.pnp.*
.cache/
.codacy/
.DS_Store
.pnp.*
.yarn/
*.log
build/
CHANGELOG.md
coverage/
dist/
node_modules/
