version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-release:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: yarn install
            - run: yarn release
workflows:
  build-and-release:
    jobs:
      - build-and-release
